*.weights
*.a
*.so
build/*
.vscode/*
ta1/out/*
ta2/out/*
host/darknet
host/build/*
export-ta_arm64/*
host/obj/*.o
host/predictions.png
darknet
null.d
host/results/*.json
host/data/test/*
host/data/cocosubtest/*
host/data/subtest.list
host/data/test.py
host/data/subimg/*
host/results/*.txt
host/scripts/__pycache__
cmake-build-debug